* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: #00033a;
    color: #fff;
}
.logonav-bar {
    width: 260px;
    height: 83px;
}
.logo-home {
    width: 765px;
    height: 108px;
}

.logo-home-container {
    display: flex;
    justify-content: center;
}

nav {
    text-align: center;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-ul li {
    display: inline;
}

.nav-a {
    text-decoration: none;
    color: #ffffff;
}

.subtitulo {
    display: flex;
    justify-content: center;
    color: #fff;
}

.img-inicio {
    height: 500px;
}

.container-img-landing {
    display: flex;
    justify-content: space-between;
}

h3,
h2 {
    font-family: "bebas neue";
}

.seccion-nosotros {
    padding: 25px 25px;
    background-color: #fff;
    color: #00033a;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-nosotros {
    margin: 16px 16px;
    width: 250px;
    background-color: #00033a;
    border-radius: 20px;
    padding: 5px;
    color: #ffffffc5;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.titulo-nosotros {
    display: inline;
}

.whatsapp-logo-contenedor {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.whatsapp-logo-img {
    width: 50px;
}

footer {
    background-color: #010326;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.contenedor-nuestra-empresa {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.contenedor-objetivos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}

.contenidos-objetivos {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}

h1 {
    font-family: "bebas neue";
    text-align: center;
    color: #fff;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.quehacemosimg1 {
    width: 368px;
    height: 398px;
}

.quehacemosimg2 {
    width: 446px;
    height: 427px;
}

.quehacemosimg3 {
    width: 432px;
    height: 473px;
}

.quehacemosimg4 {
    width: 579px;
    height: 615px;
}

.contenedor-quehacemos {
    display: flex;
    align-items: space-between;
    padding-left: 20px;
}

.contenedor-quehacemos-text{
    background-color: #fff;
color: #00033a;

}
.tamaño-text-quehacemos{
    font-size: 20px;
}

.contenedor-qh {
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    text-align: center;
    font-size: 24px;
}

.contenedor-img-eximia {
    display: flex;
    align-items: space-between;
    padding-left: 0px;
    width: 379px;
    height: 315px;
}

.gif-inicio {
    display: flex;
    justify-content: center;
    width: 95vw;
    height: 394px;
}

.huella-contenedor {
    display: flex;
    justify-content: center;
    width: 1445px;
    height: 394px;
    padding-left: 50px;
}

.border-texto-quehacemos {
    width: 1232px;
    height: 73px;
    background-color: #00033a;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.texto-border-quehacemos {
    color: #fff;
    font-size: 36px;
}

.contenedor-texto-llantas {
    display: flex;
    justify-content: center;
}

.contenedor-boton-ver-quehacemos {
    width: 100px;
    height: 53px;
    padding: 10px;
    background-color: #ff0f0f;
    color: white;
    border: none;
    border-radius: 0px 30px 30px 0px;

}
.titulo{
    color: #fff;
 }

.color-texto{
    color: #fff;
}
  

 .body-boss{
    background-color: #00033a;
}

.color-horarios{
    background-color: #ff0f0f;
}

.color-dias{
    background-color: #fff;
}












 /* media query */


 @media only screen and (min-width:411px) and (max-width:980px)
{
    .logo-home,.img-inicio,.gif-inicio,.img-inicio,.logo-home, .quehacemosimg1, .quehacemosimg2, .quehacemosimg3,.quehacemosimg4 {
        width: 50%;
        height: 50%;
    }

} 

